.App {
 text-align: center;
 max-width: 800px;
 margin: 0 auto;
}

.App-logo {
 animation: App-logo-spin infinite 20s linear;
 height: 40vmin;
 pointer-events: none;
}

.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.App-link {
 color: #61dafb;
}

.displayFlex {
 display: flex;
 align-items: space-between;
 justify-content: space-between;
 flex-wrap: wrap;
}

.cardWrapper {
 margin: 20px;
 border: 1px gray solid;
 padding: 20px;
 border-radius: 2px;
 width: 35%;
}
@media only screen and (max-width: 580px) {
 .cardWrapper {
  width: 70%;
  margin: 20px auto 0;
 }
}

/* .cardBody {
 height: auto;
 max-height: 250px;
 width: auto;
 max-width: 250px;
} */
